{% extends 'popeye/base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'popeye/articles_request.css' %}"/>
{% endblock extra_head %}
{% block content %}
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container contain-nav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/ "><h4>Ace  Digital</h4></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="go-gray"><a href="/pricing"><h4>Pricing</h4></a></li>
            <li class="go-gray"><a href="/"><h4>Request Content</h4></a></li>
            <li class="go-gray"><a href="/"><h4>Order a Website</h4></a></li>
            <li class="go-gray"><a href="http://localhost/wordpress"><h4>Blog</h4></a></li>
            <!--<li class="go-gray"><a href="/contact" id="contactLink"><h4>Contact Us</h4></a></li>-->
            <a href="/login" class="btn btn-primary" id="login-btn"><h4>Sign In</h4></a>
        </ul>
    </div>
</div>
</nav>
<div class="container-fluid">
    <div class="col-lg-7 article-panel-holder">
            <form method="post" action="{% url 'articles_request' %}">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Post an Article Request</h4>
                </div>
                <div class="panel-body">
                    {%if form.errors %}
                    {{ form.errors }}
                    {% endif %}
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary pull-right">Post <i class="fa fa-send"></i></button>
                </div>
                </div>
            </form>
    </div>
  </div>
    {% endblock content %}
    {% block scripts %}
                <script  type="text/javascript" src="{% static 'popeye/js/js/articles_request.js' %}"></script>
    {% endblock %}
