{% extends 'popeye/test.html' %}

{% block profiledata %}
    <div class="col-lg-3 image-holder ">
        {% if user.profile.profile_picture %}
            <img class=" img-rounded " src="{{ user.profile.profile_picture.url }}">
        {% endif %}
        {% if not user.profile.profile_picture %}
            <img class=" img-rounded " src="/static/popeye/images/default.png">
        {% endif %}
    </div>

    <div class="col-lg-8 well">
        <div class="panel panel-default ">
            <div class="panel-body">
                <form method="post" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ form2.as_p}}
                    <button type="submit" class="btn btn-primary form-control">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
