{% extends 'popeye/base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'popeye/reset.css' %}" />
{% endblock extra_head %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 panel-holder">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Forgot password</h3>
                    </div>
                    <div class="panel-body">
                        <p>Forgotten your password? Enter you email address below and we will send you instructions to reset your password</p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.email }}
                            <br>
                            <button type="submit" class="btn btn-primary form-control">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}