{% extends 'popeye/test.html' %}
{% block profiledata %}
     <div class="col-lg-3 image-holder" id="image-holder">
                    {% if user.profile.profile_picture %}
                        <img class=" img-rounded " src="{{ user.profile.profile_picture.url }}">
                    {% endif %}
                    {% if not user.profile.profile_picture %}
                        <img class=" img-rounded " src="/static/popeye/images/default.png">
                    {% endif %}
     </div>
    <div class="col-lg-5 panel-holder">
        <form method="post">
            <div class="panel-body">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary form-control">Save</button>
            </div>
    </form>
        </div>
{% endblock %}