{% extends 'popeye/base_profile.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'popeye/myProfile.css' %}" />
{% endblock %}
{% block profiledata %}
    {% if user.is_authenticated %}
                <h4>{{ user.first_name}} {{ user.last_name }}</h4>
                <h4>{{ user.email }}</h4>
                    <h4>Kenya</h4>
        <a class="btn btn-primary" href="/edit_profile"> Edit Profile</a>
                {% endif %}
{% endblock %}
{% block body %}
    <div class="row profile-body">
            <div class="col-lg-12 details-holder">
            <div class="col-lg-3 sidebar">
                <ul class="nav nav-sidebar">
                    <li class=""><a href="/myProfile">Home</a></li>
                    <li class=""><a href="/mywallet">My Wallet</a></li>
                    <li class=""><a href="/pending"> Pending</a></li>
                    <li class=""><a href="/done">Done</a></li>
                    <li class=""><a href="/password/">Change Password</a></li>
                </ul>
            </div>
            <div class="main col-lg-9 profbody well">
                <div class="other">
                    <div class="col-lg-10 options-holder ">
                        <div class="col-lg-5 option">

                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}